<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div>
    The div at the top should display the week name based on what the visitor had previously chosen
</div>

<div>
    the next div should have the client name based on what visitor previously chose
</div>

<div>
    the final div should have the form
    the form should contain inputs and labels that allow the visitor to submit a quantity of the clients sku, any notes that the visitor might want to document, and the way to document who is submitting
</div>


</body>
</html>