.ProcessingPlan{
    padding-left: 10px;
}

.client-list{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 10px;

}

.client-sku-container{
    display: flex;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.client-name{
    background-color: #ccc;
    padding-right: 10px;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sku-name-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.sku-name {
    width: 120px;
    height: 120px;
    padding: 3px;
    margin: 5px 3px 3px 3px;
    border: solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .background-white {
    background-color: white;
  }
  
  .background-gray {
    background-color: #ccc;
  }
  
  .sku-link {
    max-width: 150px; /* Adjust the width as needed */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
    background: white;
    text-decoration: none;
    color: inherit;
  }


  